.footer-section {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-footer {
  display: block;
  text-align: center;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.text-studio-logo-footer {
  color: #f4f4fd;
}

.description-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social-link-container {
  padding: 0;
}

.title-social-link-footer {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.list-social-link-footer {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.item-social-link-footer {
  width: 40px;
  height: 40px;
}

.social-link-our {
  flex-shrink: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-our-icon {
  fill: #f4f4fd;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-footer-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-right: 16px;
  padding-left: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #fff;
}

.footer-subscribe-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
}

.footer-subscribe-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* ========== FOOTER SECTION TABLET =======================> */
@media screen and (min-width: 768px) {
  .footer-section {
    padding-left: 92px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 24px;
  }

  .description-footer {
    width: 264 px;
  }

  .title-social-link-footer {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-footer-text {
    text-align: left;
  }
}

/* ========== FOOTER SECTION DESCTOP =======================> */
@media screen and (min-width: 1158px) {
  .footer-section {
    padding-left: 0;
  }

  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .about-us-container-footer {
    margin-right: 120px;
  }

  .social-link-our {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-our:focus,
  .social-link-our:hover {
    background-color: #31d0aa;
  }

  .social-link-our-icon {
    fill: #f4f4fd;
  }

  .footer-social-link-container {
    margin-right: 80px;
  }

  .footer-subscribe-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subscribe-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }

  .footer-subscribe-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subscribe-btn:hover,
  .footer-subscribe-btn:focus {
    background-color: #404bbf;
  }
}
